.header {
    margin-left: 60px;
}

.card {
    padding: 10px;
    padding-bottom: 40px;
    cursor: pointer;
}

.card-img {
    width: 100%;
    object-fit: cover;
    border: 1px solid black;
    max-height: 500px;
}

.card-image-container {
    overflow: hidden;
    height: 50%;
}
