.footer-bar {
    bottom: 0;
}

.footer-title {
    padding-left: 40px;
    margin-top: 10px;
}

.footer-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    justify-content: space-around;
}

.link-container {
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    /* justify-content: space-around; */

}

.fa-brands {
    font-size: 30px;
    color: black;
    padding: 4px;
}

.person-container {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
}

.person-container>p {
    font-family: Arial, Helvetica, sans-serif;
}

/* .icon-footer {
    justify-content: space-between;
} */
