.comment-form-container {
    display: flex;
    flex-direction: column;
}

.create-comment-submit-button {
    width: 420px;
    background-color: #007460;
    color: white;
}

.project-form {
    display: flex;
    flex-direction: column;
}

.form-textarea {
    width: 415px;
}
