.amount-pledged {
    color: #009e74;
    font-size: 30px;
}

.buttons {
    width: 300px;
    height: 50px;
    background-color: #007460;
    color: white;
    text-decoration: none;
}

.comment-area {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}

.details-main-container {
    padding: 40px;
}

.header {
    text-align: center;
}

.img-and-info-container {
    padding-right: 50px;
}

.individual-comment {
    border: .5px solid gray;
    width: 50%;
    word-wrap: break-word;
    list-style: none;
    padding: 5px;
    margin-bottom: 5px;

}

.project-image {
    height: 450px;
    width: 800px;
    object-fit: cover;
}

.top-portion {
    display: flex;
    flex-direction: row;
}

.update-delete-buttons {
    margin-right: 10px;
    background-color: #007460;
    color: white;
}

.category-and-location {
    display: flex;
    flex-direction: row;

}

.category-and-location>p {
    /* display: flex;
    flex-direction: row; */
    margin-right: 20px;
}

.second-level-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.story-container {
    padding-right: 100px;
}

.comment-area {

}

.reward-container {
    /* padding-left: 100px; */
    border: 1px solid black;
    padding: 10px;

}

.bottom-labels {
    font-weight: 100;
    margin-top: -5px;
}
