.featured-bar {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.featured-projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.featured-projects-container img {
    height: 150px;
}
